@import 'assets/colors';

.crud
  display: flex
  flex-direction: column
  margin: 1rem

  .page-title
    margin: 1rem 0
    font-size: 2rem
    color: $primary-light

  .items-wrapper
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    justify-content: center
    margin: -5px