@import 'assets/colors'
@import 'assets/styles'

.item
  display: flex
  flex-direction: column
  align-items: stretch
  justify-content: flex-start
  min-width: 350px
  max-width: 100%
  margin: 2px 5px
  font-family: inherit

  .item-header
    font-family: inherit
    display: flex
    justify-content: space-between
    align-items: center
    height: 2.4rem
    background: $light
    color: $dark
    border-radius: 0.4rem

    &.active
      z-index: 9999
      border-bottom: 2px solid $dark

    .header-title
      margin: 0 1rem

    .controls
      display: flex
      height: 100%
      .btn
        background: transparent
        &:hover
          background: transparent
          color: $primary-dark
          .delete
            color: $secondary-light
        .edit:after
          content: '\f044'
        .delete:after
          content: '\f00d'
        &.save
          padding: 0.5rem 1rem
          border-radius: 0 0.4rem 0.4rem 0
          background: $primary-light
          color: $dark

  .item-content
    height: 0
    margin: 0
    overflow: hidden
    &.active
      overflow: visible
      height: auto
      margin: -0.4rem 0 0
      max-width: 100%
      padding: 0.9rem 1rem 0.5rem
      border-radius: 0 0 0.4rem 0.4rem
      background: $light
      color: $dark
  
  textarea.item-content.active
    border: none
    resize: none
    font-family: inherit
    height: 150px
    &:focus
      outline: none
